*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: #292929;
    overflow-x: hidden;
    justify-content: center;
}

hr{
    height: 2px;
    border: none;
    background-color: #b097fc50;
}

.cabecalho{
    border-radius: 15px;
    background-color: #b097fc15;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 25px;
    height: 50px;
}

.cabecalho a{
    color: #B197FC;
    text-decoration: none;
}

#home1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#leftDiv p{
    font-size: large;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

#linkedIn{
    margin-right: 15px;
}

#apresentacao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-width: 100vw;
    height: 80vh;
}

.subClass{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(161, 120, 199, 0.459);
}

.subClass h3{
    color: rgb(200, 150, 255);
}

#me{
    border: 5px solid rgba(161, 120, 199, 0.651);
    border-radius: 500px;
}

#rightDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#rightDiv a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B197FC;
    border: 1px solid #B197FC;
    padding: 15px;
    border-radius: 15px;
}

#rightDiv img{
    margin: 10px;
}

#exp1{
    margin-top: 100px;
}

.exp{
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(161, 120, 199, 0.150);
}

.exp img{
    margin: 15px;
}

#tempo{
    font-size: 15px;
}

#descricao{
    font-size: larger;
    font-weight: bold;
}

#proficao{
    font-size: 15px;
    color: #B197FC;
}

#categorias{
    margin-bottom: 100px;
}

#cargo{
    font-size: 30px;
    font-weight: bold;
    color: #B197FC;
}

.sobre{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#rightDivSobre p{
    font-size: large;
    color: rgb(150, 150, 150);
}

.portfolio{
    margin: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.projetos a{
    text-decoration: none;
    color: #B197FC;
}

.projeto{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(161, 120, 199, 0.150);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 25px;
}

.projeto p{
    margin: 25px;
}

.projeto img{
    width: 300px;
    height: 150px;
    border-radius: 15px;
}

.linguagens{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
    gap: 15px;
}

.linguagem{
    display: flex;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #b097fc80;
}

#titulo h1{
    margin-bottom: 100px;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 100px;
}

.habilidades{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.skills p{
    font-size: large;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.carreira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 100px;
}

#historico{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
}

#profissional{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#academico{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.profissao{
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    background-color: #b097fc15;
    padding: 25px;
    margin-top: 50px;
    min-width: 750px;
    max-width: 750px;
}

.profissao p{
    font-size: large;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.periodo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.periodo h4{
    color: rgb(200, 150, 255);
}

.curso{
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    border: 3px solid #b097fc60;
    padding: 25px;
    margin-top: 50px;
    min-width: 750px;
    max-width: 750px;
}

.curso p{
    font-size: large;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 100px;
}

.contatos a{
    text-decoration: none;
}

#whatsapp{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: large;
    color: #B197FC;
    border: 1px solid #B197FC;
    padding: 10px;
    border-radius: 15px;
}

#whatsapp img{
    margin: 10px;
}

#email{
    color: #B197FC;
    font-size: large;
    border: 1px solid #B197FC;
    padding: 10px;
    border-radius: 15px;
}

.rodape{
    display: flex;
    background-color: #b097fc15;
    align-items: center;
    justify-content: center;
}

.rodape h4{
    margin-left: 50px;
    color: rgb(150, 150, 150)
}

.socialMedia #linkedIn{
    margin-left: 25px;
}

@media (max-width: 1730px){
    .profissao{
        min-width: 700px;
    }
    
    .curso{
        min-width: 700px;
    }
}

@media (max-width: 1630px){
    .profissao{
        min-width: 600px;
    }

    .curso{
        min-width: 600px;
    }
}

@media (max-width: 1600px){
    .projetos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1440px){
    .profissao{
        min-width: 500px;
    }

    .curso{
        min-width: 500px;
    }
}

@media (max-width: 1360px){
    .profissao{
        min-width: 400px;
    }

    .curso{
        min-width: 400px;
    }
}

@media (max-width: 1330px){
    .projetos{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1220px){
    #leftDiv{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    #apresentacao{
        grid-template-columns: 1fr;
        height: 100vh;
    }

    #midDiv{
        margin: 50px;
    }

    #rightDiv{
        margin-bottom: 100px;
    }
}

@media (max-width: 1035px){
    #historico{
        grid-template-columns: 1fr;
    }

    .profissao{
        min-width: 700px;
        max-width: 700px;
    }

    .curso{
        min-width: 700px;
        max-width: 700px;
    }

    .sobre{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 775px){
    .projetos{
        grid-template-columns: 1fr;
    }

    .profissao{
        min-width: 500px;
        max-width: 500px;
    }

    .curso{
        min-width: 500px;
        max-width: 500px;
    }
}

@media (max-width: 670px){
    .habilidades{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 560px){
    .profissao{
        min-width: 300px;
        max-width: 300px;
    }

    .curso{
        min-width: 300px;
        max-width: 300px;
    }
}

@media (max-width: 520px){
    .cabecalho{
        display: none;
    }

    #meApresentacao{
        width: 350px;
    }
}

@media (max-width: 445px){
    .rodape{
        flex-direction: column;
    }

    .habilidades{
        grid-template-columns: 1fr 1fr;
    }

    #meApresentacao{
        width: 300px;
    }

    #me{
        width: 300px;
    }
}

@media (max-width: 390px){
    #apresentacao{
        grid-template-columns: 1fr;
        height: 150vh;
    }
}